/* Resetting default styles and setting base font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}

body {
    padding: 10px;
    background-color: rgb(228, 230, 228);
    line-height: 1.6em;
}

/* Centering the main content */
main {
    background-color: hsla(50, 10%, 100%, 0.7);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 1500; /* Added max-width to maintain size */
    margin: 0 auto; /* Center the main content */
}

.main-nav {
    padding: 0%;
    display: flex;
    justify-content: center;
}

.main-nav a {
    color:#313635;
    font-weight: bold;
    margin-right: 15px;
    font-size: 1em;
}

.main-nav a:hover {
    color: #1f6f5f;
    text-decoration: underline;
}

header {
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
}

.css{
 
    margin-bottom: 1px;
}


.css-icon {
    vertical-align: middle;
    max-width: 5%;
    height: auto;
}

.css-icon1{
    max-width: 5%;
    margin-top: 20px;
    margin-right: 50px;
}
/* Center the main heading */
h1 {
    
    background-color: rgb(228, 230, 228);
    border-radius: 20px;
    padding: 40px;
    color: #313635;
    max-width: 800px;
    font-size: 2.6em;
    margin-left: auto; /* Center the heading */
    margin-right: auto; /* Center the heading */
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center; /* Center the text within the heading */
}

h2 {
    color: #16352f;
    font-size: 1.5em;
    margin-left: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 35px;
   
    
}

h2:hover {
    color: #16352f;
    text-decoration: underline;
}



/* Align headings to the left */
h3 {
    background-color:rgb(228, 230, 228);
    width: fit-content;
    border-radius: 15px;
    padding: 7px;
    color: #16352f;
    margin-bottom: 15px;
    text-align: left; /* Align heading to the left */
}


p {
    max-width: 800px; /* Set a maximum width for the paragraph */
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    
   
}


.page-description {
    margin-top: 50px;
    margin-bottom: 20px;
    
}

ul, ol {
    margin-left: 20px;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
}

.links li, .key-features li, .reasons li, .css-facts li{
    margin-bottom: 15px; /* Adds space between list items */
            line-height: 1.6; /* Improves readability */
        }





li:hover {
    width: fit-content;
    background: linear-gradient(270deg,#e7ecea, #d1d6d5);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.tot1,.tot2,.tot3{
    color: rgb(13, 53, 45);
}


/* Stack video and image sections vertically */
.content-wrapper {
    display: flex;
    flex-direction: column; /* Change to column layout */
    margin-left: 340px; /* Center items horizontally */
    gap: 30px;
}

.video-section, .image-section {
    width: 100%; /* Full width for both sections */
    max-width: 750px; /* Maximum width to maintain size */
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.video-title {
    margin-top: 30px;
}

.image-container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    
}

.before-and-after {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 15px;
    display: block;
    object-fit: contain;
}

.image-description {
    max-width: 800px; /* Set a maximum width for the paragraph */
    margin: auto;
    text-align: justify;
    
}

.image-description p {
    margin-bottom: 5px;
    margin-top: 35px;
    
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 0.9em;
}


/* Responsive styles */
@media (max-width: 768px) {
    main {
        padding: 10px 5px;
    }


    .content-wrapper {
        width: 100%;
        margin: 0;
    }

    .video-section, .image-section {
        width: 100%;
    }

    .video-container {
        width: 100%;
        padding-top: 56.25%;
    }

    .before-and-after, .image-description {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        font-size:2em;
        padding: 20px; /* Adjust padding for smaller screens */
      
    }

    h1, h2, h3, p, ul, ol {
        max-width: 100%;
    }

    ul, ol {
        padding-left: 20px; /* Adjust padding for smaller screens */
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        padding: 20px; /* Adjust padding for smaller screens */
      
    }

    ul, ol {
        padding-left: 15px; /* Further adjust padding */
    }

    .main-nav a {
        margin-right: 5px;
        font-size: 0.8em;
    }

    footer {
        font-size: 0.8em;
    }

    .image {
        margin-top: 50px;
    }
}